### Extract manufacturers from BOE

#### Trust this notebook

Click on the Trust butotn

In [15]:
import camelot
import pandas as pd
import os

In [2]:
os.getcwd()

'D:\\Projects\\Python\\cars_data\\extract\\manufacturers'

In [7]:
tables = camelot.read_pdf('BOE-A-2018-17664.pdf', pages='4-608')

In [8]:
tables

In [13]:
tables[-1].df.tail()

,0,1,2,3,4,5,6,7,8,9
43,VOLVO,V 90 T6 R-Design AWD 320,2016-,1969,4,G,236,"13,20",320,57900
44,VOLVO,V 90 T8 Twin Engine AWD Momentum Aut.,2016-,1969,4,G,300,"13,20",408,62000
45,VOLVO,V 90 T8 Twin Engine AWD R-Design Aut.,2016-,1969,4,G,300,"13,20",408,63400
46,VOLVO,V 90 T8 Twin Engine AWD Inscription,2016-,1969,4,G,300,"13,20",408,64800
47,,,,,,,,,,

In [26]:
df = pd.DataFrame()

for i in range(len(tables)):
    df_table = tables[i].df.iloc[2:]
    df = df.append(df_table)

In [27]:
df.tail()

,0,1,2,3,4,5,6,7,8,9
43,VOLVO,V 90 T6 R-Design AWD 320,2016-,1969,4,G,236,"13,20",320,57900
44,VOLVO,V 90 T8 Twin Engine AWD Momentum Aut.,2016-,1969,4,G,300,"13,20",408,62000
45,VOLVO,V 90 T8 Twin Engine AWD R-Design Aut.,2016-,1969,4,G,300,"13,20",408,63400
46,VOLVO,V 90 T8 Twin Engine AWD Inscription,2016-,1969,4,G,300,"13,20",408,64800
47,,,,,,,,,,

In [28]:
df_manufacturers = df.iloc[:,0]

In [31]:
df_manufacturers = df_manufacturers.drop_duplicates()

In [41]:
# x[x.columns[0]]
df_manufacturers[df_manufacturers.columns[1]]

AttributeError: 'Series' object has no attribute 'columns'