In [61]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine_complete = create_engine('sqlite:///merged_idae_complete.db')
engine_titles = create_engine('sqlite:///idae_titles.db')

df_complete = pd.read_sql('cars', engine_complete)
df_titles = pd.read_sql('cars', engine_titles)

df_complete_dd = df_complete.drop_duplicates()
df_titles_dd = df_titles.drop_duplicates()

In [60]:
# Duplicates amount in df_complete
len(df_complete) - len(df_complete_dd)

0

In [63]:
# Duplicates amount in df_titles
len(df_titles) - len(df_titles_dd)

729

In [64]:
# Drop df_complete with empty 'Nombre'
df_complete['Nombre'].replace('', np.nan, inplace=True)
df_complete.dropna(subset=['Nombre'], inplace=True)
len(df_complete)

19294

In [ ]:
not_in_titles = df_titles[~df_titles['Nombre'].isin(df_merged['Nombre'])]

In [44]:
df_combined.drop_duplicates(subset='Nombre', keep="first").head()

,Autonomía eléctrica,Cilindrada,Clasificación por Consumo Relativo,Consumo según ciclo NEDC,Consumo según ciclo WLTP,Dimensiones (largo x ancho x alto),Emisiones según ciclo NEDC,Emisiones según ciclo WLTP,MTMA,Motorización,Nombre,Nº de Plazas Máximas,Potencia,Potencia eléctrica,Potencia térmica,Segmento comercial,Tecnología Híbrida (normal / enchufable),Tipo de cambio,index,level_0
0,0 kms,1.368 cm3,Clasificación: G,"6,50 litros/100 kms","7,85 litros/100 kms",4.054 x 1.740 x 1.233 mm,151 CO2,181 CO2,905,Gasóleo,Abarth 124 SPIDER Abarth 124 Spider MultiAir 1...,4,170 cv,0 kw,125 kw,Deportivo,,M,0.0,NaN
1,0 kms,1.368 cm3,Clasificación: G,"5,90 litros/100 kms","7,40 litros/100 kms",3.660 x 1.627 x 1.490 mm,137 CO2,163 CO2,905,Gasóleo,Abarth 595 ABARTH 595 1.4 16v T-JET 107 KW (14...,4,145 cv,0 kw,107 kw,Minis,,M,1.0,NaN
2,0 kms,1.368 cm3,Clasificación: G,"5,90 litros/100 kms","7,40 litros/100 kms",3.660 x 1.627 x 1.490 mm,137 CO2,166 CO2,905,Gasóleo,Abarth 595C ABARTH 595C 1.4 16v T-JET 107 KW (...,4,145 cv,0 kw,107 kw,Minis,,M,2.0,NaN
3,0 kms,1.368 cm3,Clasificación: G,"5,90 litros/100 kms","7,40 litros/100 kms",3.660 x 1.627 x 1.490 mm,137 CO2,172 CO2,905,Gasóleo,Abarth COMPETIZIONE ABARTH 595 COMPETIZIONE 1....,4,179 cv,0 kw,132 kw,Minis,,M,3.0,NaN
4,0 kms,1.368 cm3,Clasificación: G,"5,90 litros/100 kms","7,40 litros/100 kms",3.660 x 1.627 x 1.490 mm,137 CO2,173 CO2,905,Gasóleo,Abarth COMPETIZIONE C ABARTH 595C COMPETIZIONE...,4,179 cv,0 kw,132 kw,Minis,,M,4.0,NaN

In [56]:
df_titles[df_titles.duplicated(['Nombre'])]

                                                  Nombre
183                Alfa Romeo Stelvio 2.2 210 CV AT8 AWD
370    Audi A3 CABRIOLET MY18 2.0 TFSI MAN. 6V 140KW ...
372    Audi A3 CABRIOLET MY18 2.0 TFSI MAN. 6V 140KW ...
374    Audi A3 CABRIOLET MY18 2.0 TFSI MAN. 6V 140KW ...
376    Audi A3 CABRIOLET MY18 2.0 TFSI MAN. 6V 140KW ...
...                                                  ...
18804                            Volvo Trucks FM 62TR3HA
18806                            Volvo Trucks FM 62TT3HA
18808                             Volvo Trucks FM 64R3HA
18810                             Volvo Trucks FM 64T3HA
19037                 Volvo V60 Twin Engine D6 TWIN MY16

[729 rows x 1 columns]

In [57]:
df_titles[df_titles['Nombre'] == 'Alfa Romeo Stelvio 2.2 210 CV AT8 AWD']

                                    Nombre
182  Alfa Romeo Stelvio 2.2 210 CV AT8 AWD
183  Alfa Romeo Stelvio 2.2 210 CV AT8 AWD