In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine_titles = create_engine('sqlite:///idae_titles.db')
engine_merged = create_engine('sqlite:///merged_idae.db')

df_titles = pd.read_sql('cars', engine_titles)
df_merged = pd.read_sql('cars', engine_merged)

In [2]:
not_in_titles = df_titles[~df_titles['Nombre'].isin(df_merged['Nombre'])]

In [3]:
not_in_titles

                                                  Nombre
872    Audi A5 SPORTBACK MY18 2.0 TDI MAN. 6V 140KW (...
1436   BMW M4 Coupe M4 Automatico (F82) (CO2 194) (3R...
1437   BMW M4 Coupe M4 Automatico (F82) (CO2 194) (3R...
1438   BMW M4 GTS Coupe M4 GTS Automatico (F82) (CO2 ...
1827   BMW Serie 2 Cabrio 228i Grupo 1 (F23) (CO2 159...
...                                                  ...
19233                                         ZD D2S 0,1
19234                         ZERO MOTORCYCLES DS ZF11Kw
19235                          ZERO MOTORCYCLES FX ZF6.5
19236                        ZERO MOTORCYCLES FXS ZF11Kw
19237                          ZERO MOTORCYCLES S ZF11Kw

[306 rows x 1 columns]

In [4]:
not_in_titles.to_excel('not_in_titles.xlsx')

In [3]:
not_in_titles.to_csv('not_in_titles.csv')

In [5]:
df = pd.read_csv('not_in_titles.csv')

In [6]:
df.head()

   Unnamed: 0                                             Nombre
0         872  Audi A5 SPORTBACK MY18 2.0 TDI MAN. 6V 140KW (...
1        1436  BMW M4 Coupe M4 Automatico (F82) (CO2 194) (3R...
2        1437  BMW M4 Coupe M4 Automatico (F82) (CO2 194) (3R...
3        1438  BMW M4 GTS Coupe M4 GTS Automatico (F82) (CO2 ...
4        1827  BMW Serie 2 Cabrio 228i Grupo 1 (F23) (CO2 159...

In [8]:
car_text = 'Abarth 124 SPIDER Abarth 124 Spider MultiAir 125 kW (170 CV)'
if car_text in df_titles['Nombre']:
    print('Yesssssss')
else:
    print('wawawaaa')

KeyError: "None of [Index(['Abarth 124 SPIDER Abarth 124 Spider MultiAir 125 kW (170 CV)',\n       'Abarth 595 ABARTH 595 1.4 16v T-JET 107 KW (145 CV) E6D',\n       'Abarth 595C ABARTH 595C 1.4 16v T-JET 107 KW (145 CV) E6D',\n       'Abarth COMPETIZIONE ABARTH 595 COMPETIZIONE 1.4 16v T-JET 132 KW (180 CV) E6D',\n       'Abarth COMPETIZIONE C ABARTH 595C COMPETIZIONE 1.4 16v T-JET 132 KW (180 CV) E6D',\n       'Abarth TURISMO ABARTH 595 TURISMO 1.4 16v T-JET 121 kW (165 CV) E6D',\n       'Abarth TURISMO C ABARTH 595C TURISMO 1.4 16v T-JET 121 KW (165 CV) E6D',\n       'Aixam eAIXAM SENSATION City Pack',\n       'Aixam eAIXAM SENSATION City Premium',\n       'Aixam eAIXAM SENSATION Coupé GTI',\n       ...\n       'Volvo XC90 T8 TWIN R-Design MY17 Aut',\n       'XINYANG XY75DAUTV-2 XY75DAUTV-2',\n       'YANGZHOU AUDA NEW ENERGY VEHICLES CO. LTD IEV7S B',\n       'YANGZHOU AUDA NEW ENERGY VEHICLES CO. LTD LITE-ev1013 Elec',\n       'ZD D2 0,1', 'ZD D2S 0,1', 'ZERO MOTORCYCLES DS ZF11Kw',\n       'ZERO MOTORCYCLES FX ZF6.5', 'ZERO MOTORCYCLES FXS ZF11Kw',\n       'ZERO MOTORCYCLES S ZF11Kw'],\n      dtype='object', length=19238)] are in the [columns]"